<div class="jumbotron" style="background-color: rgba(46, 195, 204, 0.25);">
  <h1>Rails with Ajax</h1>
  <p><a href="https://www.topdan.com/ruby-on-rails/simple-infinite-scrolling.html" style="text-decoration: none;">...</a></p>
  <!-- Button trigger modal -->
  <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#newPost">
    New Post
  </button>
</div>

<div class="row" id="container_posts">
  <%= render @posts %>
</div>

<% unless @posts.current_page == @posts.total_pages %>
  <p id="view-more">
    <%= link_to 'View More', url_for(page: @posts.current_page + 1), remote: true %>
  </p>
<% end %>

<!-- Modal -->
<%= form_for(@post, remote: true) do |f| %>
  <div class="modal fade" id="newPost" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Post</h4>
        </div>
        <div class="modal-body">
          <div class="field">
            <%= f.label :title %> <br>
            <%= f.text_area :title, class: "form-control post_title" %>
          </div>
          <div class="field">
            <%= f.label :content %> <br>
            <%= f.text_area :content, class: "form-control post_content" %>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <%= submit_tag "Create", class: "btn btn-primary" %>
        </div>
      </div>
    </div>
  </div>
<% end %>